@import "../../../../../assets//styles/variables.scss";
@import "../../../../../assets/styles/mixins.scss";

.basic_picture {
    width: 100vw;
    padding: 90px 0px;
    @include grid(8, 16px, 32px);
    picture {
      grid-column: 2 / 8;
      border-radius: 8px;
      overflow: hidden;
      img {
        display: block;
        transform: scale(1.05);
      }
    }
  @include mq(tablet, max) {
    padding: 30px 0px;
    @include grid(2, 8px, 16px);
    picture {
      grid-column: 1 / 3;
      border-radius: 8px;
    }
  }
}

.hero_picture {
  width: 100vw;
    padding: 90px 0px;
    @include grid(8, 16px, 32px);
    picture {
      grid-column: 1 / 9;
      border-radius: 16px;
      overflow: hidden;
      display: block;
      height: 400PX;
      img {
        display: block;
        transform: scale(1.05);
        width: 100%;
        height: 100%;
      }
    }
  @include mq(tablet, max) {
    padding: 30px 0px;
    @include grid(2, 8px, 16px);
    picture {
      grid-column: 1 / 3;
      height: 100px;
      border-radius: 12px;
    }
  }
}

.full_picture {
    width: 100vw;
    position: relative;
    padding: 30px 0px;
    picture{
        width: 100%;
        height: auto;
        &::after{
            position: absolute;
            bottom: -1px;
            left: 0px;
            content: '';
            display: block;
            height: 60px;
            width: 100vw;
            background-color: map-get($brands-primary, background );
            border-radius: 32px 32px 0px 0px;
        }
    
        &::before{
            position: absolute;
            top: -1px;
            right: 0px;
            content: '';
            display: block;
            height: 60px;
            width: 100vw;
            background-color:  map-get($brands-primary, background );
            border-radius: 0px 0px 32px 32px;
            z-index: 1000;
        }

        @include mq(tablet, max){
            &::after{
                height: 10px;
                border-radius: 24px 24px 0px 0px;
            }
            &::before{
                height: 10px;
                border-radius: 0px 0px 24px 24px;
            }
        }
    }


}

.grid_picture {
  width: 100vw;
  padding: 90px 209px;
  display: flex;
  column-gap: 16px;
  picture{
    margin: auto;
    border-radius: 16px;
    overflow: hidden;
  }

  @include mq(tablet, max){
    padding: 30px 16px;
  }
}

.do_double_picture {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
  padding: 90px 128px;
  picture{
    margin: auto;
    border-radius: 16px;
    overflow: hidden;
  }
  &.left {
    picture:nth-child(2){
      margin-top: 84px;
    }
  }

  &.right {
    picture:nth-child(1){
      margin-top: 84px;
    }
  }

  @include mq(tablet, max){
    display: block;
    padding: 30px 16px;
    &.right picture:nth-child(1), &.left picture:nth-child(2){
      margin-top: 0px;
    }
    picture:nth-child(1){
      margin-bottom: 30px;
    }
  }
}