---
import Layout from "../../../components/layouts/Layout.astro";
import SEO from "../../../components/layouts/utils/SEO.astro";

//
import Heading from '../../../components/molecules/Heading';

import ProjectList from '../../../components/molecules/ProjectList'
---

<SEO lang="en" title="All projects | Donaël Walter Portfolio | Creative Development, Design, Photography">
	<Layout>
		<Heading>
            <h1>Photography</h1>
            <p>An overview of my photographic journey</p>
        </Heading>
        <ProjectList />
	</Layout>
</SEO>


