.root{
    display: flex;
    flex-direction: column;
    
    @include interpolate(padding-left, map-get($breakpoints, "tablet"), map-get($breakpoints, "desktop"), 16px, 32px);
    @include interpolate(padding-right, map-get($breakpoints, "tablet"), map-get($breakpoints, "desktop"), 16px, 32px);
    
    .categories {
        display: flex;
        gap: 8px;
        margin-bottom: 50px;
    }

    .articles {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
        gap: 32px;
    }
}