---
import Layout from "../../../components/layouts/Layout.astro";
import SEO from "../../../components/layouts/utils/SEO.astro";

import { client } from "../../../assets/scripts/utils/api/sanityClient";
import { getAllProjects } from "../../../assets/scripts/utils/api/api";
//
import Heading from '../../../components/molecules/Heading';
import ProjectList from '../../../components/molecules/ProjectList'

let allProjects = await client.fetch(getAllProjects());
allProjects = allProjects.filter(el => el.category === 'development')
import OG_IMAGE from "@/assets/images/layout/og/OG_IMAGE_DEVELOPMENT_PROJECTS.jpg";
---

<SEO lang="en" title="All web development projects | Donaël Walter Portfolio | Creative Development, Design, Photography" description="Dive into the realm of innovation. Experience a showcase of cutting-edge web solutions where each project reflects a blend of technical prowess and creative flair. Let's team up to transform your digital aspirations into reality. Explore, get inspired, and let's craft exceptional online experiences together." ogImage={OG_IMAGE}>
	<Layout>
		<Heading client:load>
            <h1>Development</h1>
            <p>Web development projects selection</p>
        </Heading>
        <ProjectList projects={allProjects} client:load/>
	</Layout>
</SEO>


