---
import Tag from '../atoms/Tag/index.';
import Heading from '../molecules/Heading';
---
<Heading>
    <p slot="top">Location - STUDIO - Type</p>
    <h1>Voici le nom de mon propre projet</h1>
    <div slot='subtitle'><Tag type='discret'>Ceci est mon tag</Tag></div>
</Heading>