.root{
    margin-top: 200px;
    grid-column: 1 / 18; 
    h2{
        max-width: 550px;
        text-transform: uppercase;   
    }
    ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 16px;
        padding-top: 60px;
        padding-bottom: 60px;
        padding-left: 32px;
        padding-right: 32px;
   li{
    padding: 30px;
    border: #3A3A3A solid 1px;
    border-radius: 16px;
    h3{
        text-align: center;
        margin-bottom: 32px;
        text-transform: uppercase;
    }

    svg{
        margin: auto;
        display: block;
        width: fit-content;
        margin-bottom: 32px;
    }
   }
    }
}