.root {
    display: flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;

    border-radius: 49px;
    border: 1px solid #FFF;

    background-color: transparent;
    color: white;

    font-family: 'Jost*';

    transition: 300ms;
    text-decoration: none;
    &:hover{
        background-color: white;
        color: black;
        cursor: pointer;
    }

    @include interpolate((padding-left, padding-right), map-get($breakpoints, "tablet"), map-get($breakpoints, "desktop"), 22px, 44px );
    @include interpolate((padding-top, padding-bottom), map-get($breakpoints, "tablet"), map-get($breakpoints, "desktop"), 8px, 16px );
}