---
import Layout from "../../../components/layouts/Layout.astro";
import SEO from "../../../components/layouts/utils/SEO.astro";

import { client } from "../../../assets/scripts/utils/api/sanityClient";
import { getAllProjects } from "../../../assets/scripts/utils/api/api";
//
import Heading from '../../../components/molecules/Heading';
import ProjectList from '../../../components/molecules/ProjectList'

let allProjects = await client.fetch(getAllProjects());
allProjects = allProjects.filter(el => el.category === 'design')
---

<SEO lang="en" title="All projects | Donaël Walter Portfolio | Creative Development, Design, Photography">
	<Layout>
		<Heading>
            <h1>Design</h1>
            <p>Graphic Design, UI /UX, 3D design and more ...</p>
        </Heading>
        <ProjectList projects={allProjects} client:load/>
	</Layout>
</SEO>


