---
import Layout from "../../../components/layouts/Layout.astro";
import SEO from "../../../components/layouts/utils/SEO.astro";

import { client } from "../../../assets/scripts/utils/api/sanityClient";
import { getAllProjects } from "../../../assets/scripts/utils/api/api";
//
import Heading from '../../../components/molecules/Heading';
import ProjectList from '../../../components/molecules/ProjectList'

let allProjects = await client.fetch(getAllProjects());
allProjects = allProjects.filter(el => el.category === 'design')
import OG_IMAGE from "@/assets/images/layout/og/OG_IMAGE_DESIGN_PROJECTS.jpg";
---

<SEO lang="en" title="All design projects | Donaël Walter Portfolio | Creative Development, Design, Photography" description="Explore the world of creativity through. Delve into a collection of visually captivating creations where each project narrates a story of artistic ingenuity. Let's collaborate to bring your design dreams to life. Discover, get inspired, and let's craft remarkable visual experiences together." ogImage={OG_IMAGE}>
	<Layout>
		<Heading>
            <h1>Design</h1>
            <p>Graphic Design, UI /UX, 3D design and more ...</p>
        </Heading>
        <ProjectList projects={allProjects} client:load/>
	</Layout>
</SEO>


