.root {
    @include interpolate(margin-bottom, map-get($breakpoints, "tablet"), map-get($breakpoints, "desktop"), 80px, 100px );
    @include interpolate(margin-top, map-get($breakpoints, "tablet"), map-get($breakpoints, "desktop"), 100px, 180px );
    h2 {
        margin-bottom: 80px;
        text-align: center;
        text-transform: uppercase;
    }

    div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 80px;
        padding-left: 8vw;
        padding-right: 8vw;

        div:nth-child(1) {
            padding: 32px 16px;
            display: block;
            height: fit-content;

            h3{
                text-transform: uppercase;
                margin-bottom: 16px;
            }

            p{
                margin-bottom: 24px;
            }
            border-radius: 16px;
            border: 1px solid #3A3A3A;

            button{
                width: 100%;
            }
        }

        @include mq('tablet', max){
            display: block;
            div:nth-child(1) {
                margin-bottom: 80px;
            }
        }
    }
    @include mq("tablet", max){
        margin-bottom: 120px;
    }
}