/**
* FONTS FOR ALL THE SITE
* Optimized for Chromium rendering
**/

@font-face {
    font-family: 'scilla_narrowregular_italic';
    src: url('/fonts/scillanarrow-regularitalic-webfont.woff2') format('woff2'),
         url('/fonts/scillanarrow-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
    /* Chromium rendering optimizations */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'scillaregular_italic';
    src: url('/fonts/scilla-regularitalic-webfont.woff2') format('woff2'),
         url('/fonts/scilla-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
    /* Chromium rendering optimizations */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'scillaregular';
    src: url('/fonts/scilla-regular-webfont.woff2') format('woff2'),
         url('/fonts/scilla-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    /* Chromium rendering optimizations */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'scilla_narrowregular';
    src: url('/fonts/scillanarrow-regular-webfont.woff2') format('woff2'),
         url('/fonts/scillanarrow-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    /* Chromium rendering optimizations */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Jost*';
    src: url('/fonts/Jost-Medium.woff2') format('woff2'),
        url('/fonts/Jost-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    /* Chromium rendering optimizations */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Jost*';
    src: url('/fonts/Jost-Light.woff2') format('woff2'),
        url('/fonts/Jost-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    /* Chromium rendering optimizations */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Jost*';
    src: url('/fonts/Jost-Thin.woff2') format('woff2'),
        url('/fonts/Jost-Thin.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
    /* Chromium rendering optimizations */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
