body,
html {
    background-color: map-get($brands-primary, 'background');
    color: map-get($brands-primary, 'text');
    font-family: "Jost*";

}

body{
    padding-top: 81px;
    @include interpolate(padding-top, map-get($breakpoints, "tablet"), map-get($breakpoints, "desktop"), 32px, 81px );
    @include mq('tablet', max){
        padding-top: 32px;
    }
}

// fonts 
    // define all styles 
    h1,
    .do-text-xxxl {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 120px;
        line-height: 1.2;
        font-variant-ligatures: common-ligatures;
        font-family: 'scillaregular', 'Times New Roman', Times, serif;

        @include mq('tablet', max){
            font-size: 36px;
        }
        @include interpolate(font-size, map-get($breakpoints, "tablet"), map-get($breakpoints, "desktop"), 36px, 120px )
    }

    h2,
    .do-text-xxl {
        font-family: 'Scilla';
        font-style: normal;
        font-weight: 400;
        font-size: 90px;
        line-height: 97%;
        font-variant-ligatures: common-ligatures;
        font-family: 'scillaregular', 'Times New Roman', Times, serif;

        @include mq('tablet', max){
            font-size: 30px;
        }
        @include interpolate(font-size, map-get($breakpoints, "tablet"), map-get($breakpoints, "desktop"), 30px, 90px )
    }

    h3,
    .do-text-xl {
        font-family: 'Scilla';
        font-style: normal;
        font-weight: 400;
        font-size: 60px;
        line-height: 97%;

        @include mq('tablet', max){
            font-size: 25px;
        }
        @include interpolate(font-size, map-get($breakpoints, "tablet"), map-get($breakpoints, "desktop"), 25px, 60px )
    }

    h4,
    .do-text-l {
        font-family: 'Scilla';
        font-style: normal;
        font-weight: 400;
        font-size: 45px;
        line-height: 45px;
        text-align: center;
        font-feature-settings: 'ordn' on;
        font-family: 'scillaregular', 'Times New Roman', Times, serif;

        @include mq('tablet', max){
            font-size: 18px;
        }
        @include interpolate(font-size, map-get($breakpoints, "tablet"), map-get($breakpoints, "desktop"), 16px, 45px );
    }

    h5,
    h6,
    p,
    a,button,
    .do-text-default {
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: initial;

        @include mq('tablet', max){
            font-size: 14px;
            line-height: initial;
        };
        @include interpolate(font-size, map-get($breakpoints, "tablet"), map-get($breakpoints, "desktop"), 14px, 22px );
        
    }

    .do-text-s {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 97%;

        @include mq('tablet', max){
            font-size: 12px;
        }
        @include interpolate(font-size, map-get($breakpoints, "tablet"), map-get($breakpoints, "desktop"), 12px, 18px )
    }

    .do-text-xs {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 97%;

        @include mq('tablet', max){
            font-size: 10px;
        }
        @include interpolate(font-size, map-get($breakpoints, "tablet"), map-get($breakpoints, "desktop"), 10px, 16px )
    }

// Flex align 
.do-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.do-left {
    display: flex;
    justify-content: center;
    align-items: left;
}

.do-right {
    display: flex;
    justify-content: center;
    align-items: right;
}

/* styles.css */

.page-enter {
    opacity: 0;
  }
  
  .page-enter-active {
    opacity: 1;
    transition: opacity 300ms;
  }
  
  .page-exit {
    opacity: 1; 
  }
  
  .page-exit-active {
    opacity: 0;
    transition: opacity 300ms;
  }